<ol>
  <li {{#unless step}}selected{{/unless}}><a href="{{#if step}}../{{else}}./{{/if}}"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="{{#if step}}../1/{{else}}./1/{{/if}}"><span class="step">blocking - head</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="{{#if step}}../2/{{else}}./2/{{/if}}"><span class="step">blocking - inline</span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="{{#if step}}../3/{{else}}./3/{{/if}}"><span class="step">blocking - inverted</span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="{{#if step}}../4/{{else}}./4/{{/if}}"><span class="step">blocking - body</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="{{#if step}}../5/{{else}}./5/{{/if}}"><span class="step">async</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="{{#if step}}../6/{{else}}./6/{{/if}}"><span class="step">defer</span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="{{#if step}}../7/{{else}}./7/{{/if}}"><span class="step">module</span></a></li>
  <li {{#ifeq step 8}}selected{{/ifeq}}><a href="{{#if step}}../8/{{else}}./8/{{/if}}"><span class="step">module - import</span></a></li>
  <li {{#ifeq step 9}}selected{{/ifeq}}><a href="{{#if step}}../9/{{else}}./9/{{/if}}"><span class="step">module - async</span></a></li>
</ol>
