<ol>
  <li {{#unless step}}selected{{/unless}}><a href="{{#if step}}../{{else}}./{{/if}}"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="{{#if step}}../1/{{else}}./1/{{/if}}"><span class="step">FOUC</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="{{#if step}}../2/{{else}}./2/{{/if}}"><span class="step">Partial FOUC</span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="{{#if step}}../3/{{else}}./3/{{/if}}"><span class="step">@import</span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="{{#if step}}../4/{{else}}./4/{{/if}}"><span class="step">@import - link</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="{{#if step}}../5/{{else}}./5/{{/if}}"><span class="step">@import - preload</span></a></li>
</ol>
