<ol>
  <li {{#unless step}}selected{{/unless}}><a href="{{#if step}}./{{else}}../{{/if}}"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="{{#if step}}../1/{{else}}./1/{{/if}}"><span class="step">Web fonts</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="{{#if step}}../2/{{else}}./2/{{/if}}"><span class="step"><code>preload</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="{{#if step}}../3/{{else}}./3/{{/if}}"><span class="step">Unused&nbsp;<code>preload</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="{{#if step}}../4/{{else}}./4/{{/if}}"><span class="step">Inline&nbsp;<code>@font-face</code></span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="{{#if step}}../5/{{else}}./5/{{/if}}"><span class="step">Render-blocking CSS</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="{{#if step}}../6/{{else}}./6/{{/if}}"><span class="step">Inline and&nbsp;<code>preload</code></span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="{{#if step}}../7/{{else}}./7/{{/if}}"><span class="step">Google Fonts</span></a></li>
  <li {{#ifeq step 8}}selected{{/ifeq}}><a href="{{#if step}}../8/{{else}}./8/{{/if}}"><span class="step"><code>preconnect</code></span></a></li>
  <li {{#ifeq step 9}}selected{{/ifeq}}><a href="{{#if step}}../9/{{else}}./9/{{/if}}"><span class="step"><code>font-display: swap</code></span></a></li>
  <li {{#ifeq step 10}}selected{{/ifeq}}><a href="{{#if step}}../10/{{else}}./10/{{/if}}"><span class="step"><code>font-display: optional</code></span></a></li>
</ol>
