<ol>
  <li {{#unless step}}selected{{/unless}}><a href="{{#if step}}../{{else}}./{{/if}}"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="{{#if step}}../1/{{else}}./1/{{/if}}"><span class="step"><code>video</code>&nbsp;element</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="{{#if step}}../2/{{else}}./2/{{/if}}"><span class="step"><code>preload</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="{{#if step}}../3/{{else}}./3/{{/if}}"><span class="step"><code>autoplay</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="{{#if step}}../4/{{else}}./4/{{/if}}"><span class="step">GIF replacement</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="{{#if step}}../5/{{else}}./5/{{/if}}"><span class="step">YouTube embed</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="{{#if step}}../6/{{else}}./6/{{/if}}"><span class="step"><code>lite-youtube-embed</code></span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="{{#if step}}../7/{{else}}./7/{{/if}}"><span class="step"><code>fetchpriority</code></span></a></li>
</ol>
