<ol>
  <li {{#unless step}}selected{{/unless}}><a href="{{#if step}}../{{else}}./{{/if}}"><span class="step">Welcome</span></a></li>
  <li {{#ifeq step 1}}selected{{/ifeq}}><a href="{{#if step}}../1/{{else}}./1/{{/if}}"><span class="step">Long tasks</span></a></li>
  <li {{#ifeq step 2}}selected{{/ifeq}}><a href="{{#if step}}../2/{{else}}./2/{{/if}}"><span class="step"><code>setTimeout</code></span></a></li>
  <li {{#ifeq step 3}}selected{{/ifeq}}><a href="{{#if step}}../3/{{else}}./3/{{/if}}"><span class="step"><code>yieldToMain</code></span></a></li>
  <li {{#ifeq step 4}}selected{{/ifeq}}><a href="{{#if step}}../4/{{else}}./4/{{/if}}"><span class="step">When to yield?</span></a></li>
  <li {{#ifeq step 5}}selected{{/ifeq}}><a href="{{#if step}}../5/{{else}}./5/{{/if}}"><span class="step">Presentation Delay</span></a></li>
  <li {{#ifeq step 6}}selected{{/ifeq}}><a href="{{#if step}}../6/{{else}}./6/{{/if}}"><span class="step">Debounce</span></a></li>
  <li {{#ifeq step 7}}selected{{/ifeq}}><a href="{{#if step}}../7/{{else}}./7/{{/if}}"><span class="step"><code>postTask</code></span></a></li>
  <li {{#ifeq step 8}}selected{{/ifeq}}><a href="{{#if step}}../8/{{else}}./8/{{/if}}"><span class="step"><code>requestAnimationFrame</code></span></a></li>
</ol>
